<script src="{{ 'pagination.js' | assets }}"></script>
<div x-data="xDataPagination(context)" class="flex items-center gap-2 justify-center">
  <span
    x-show="currentPage > 1"
    @click="prevPage"
    class="cursor-pointer border border-neutral200 h-8 w-8 flex items-center justify-center rounded-mainRadius"
  >
  <i class="fi fi-tr-angle-small-right"></i>
  </span>

  <template x-for="page in pagesToShow" :key="page">
    <span
      @click="setPagination(page)"
      :class="currentPage === page ? 'bg-mainColor text-white' : ''"
      class="cursor-pointer border border-neutral200 h-8 w-8 flex items-center justify-center rounded-mainRadius"
      x-text="page"
    ></span>
  </template>
  <span
    x-show="currentPage < context.pagination.totalPages"
    @click="nextPage"
    class="cursor-pointer border border-neutral200 h-8 w-8 flex items-center justify-center rounded-mainRadius"
  >
  <i class="fi fi-tr-angle-small-left"></i>
  </span>
</div>
