<div x-data="xDataLimit()" class="relative min-w-[100px] md:min-w-[70px] dropdown">

  <div
    @click="toggleModal('limit')"
    class="dropdown-selected flex gap-5 justify-between items-center px-1 h-10 border-b border-neutral200 cursor-pointer bg-white"
  >
    <span  class=" font-bold" x-text="selectedLabel || '10 منتج'"></span>
    <i :class="{'rotate-180':modal.type === 'limit' && modal.open }" class="fi fi-tr-angle-small-down transition-all duration-300"></i>
  </div>
  <ul
    x-show="modal.type === 'limit' && modal.open"
    x-transition:enter="transition ease-out duration-200"
    x-transition:enter-start="opacity-0 transform -translate-y-2"
    x-transition:enter-end="opacity-100 transform translate-y-0"
    @click.away="toggleModal('limit', false)"
    @keydown.escape.window="toggleModal('limit', false)"
    class="dropdown-options absolute top-full left-0 right-0 mt-1 border border-gray-300 bg-white z-10 list-none p-0"
  >
    <template x-for="option in options" :key="option.value">
      <li
        @click="selectOption(option)"
        class="px-3 py-2 cursor-pointer hover:bg-mainColor"
        x-text="option.label"
      ></li>
    </template>
  </ul>
</div>

<script src={{"limit.js" | assets}}></script>


